*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header, main {
    margin-left: 30px;
}
nav{
    margin-bottom: 18px;
    margin-top: 22.2px;
}

nav li{
    margin-top: 2.2px;
    font-size: 22px;
}

nav a:active, nav a:hover{
    color: #4AC20E;
}

article{
    margin-bottom: 107px;
}

h1{
    font-size: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #4AC20E;
    border-radius: 10px;
    margin-right: 39px;
    padding-left: 28px;
}

img{
    margin-top: 10px;
    margin-right: 70px;
}

p{
    margin-top: 67px;
    color: #3D58A6;
    font-size: 22px;
    margin-bottom: 50px;
}

.link{
    font-size: 22px;
    color: #3D58A6;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.contact{
    border-top-style: solid;
    border-color: #3D58A6;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    
}

.phone, .email{
    color: #3D58A6;
    margin-right: 15px;
    -webkit-text-stroke: 1px #3D58A6;
}